<div class="card mb-4">
    <div class="card-header p-1 text-center text-wide text-muted"><small class="">BEAMLINES</small></div>
    <div class="list-group list-group-flush list-group-hover">
    {% for bl in beamlines %}
        {% with bl.active_automounter as automounter %}
            <a href="{% url 'beamline-detail' pk=bl.pk %}" class="text-center list-group-item p-2">
                <div id="layout-{{ automounter.pk }}" class="layout-lg">
                    <h5 class="text-condensed">
                        <strong><span class="text-muted">{{ bl.acronym }}</span></strong> | {{ automounter.container.kind|default:"Manual Mounting" }}
                    </h5>
                    <hr/>
                </div>
                {% if automounter %}
                    {% include "lims/details/container-layout.html" with container=automounter.container details=False %}
                {% endif %}
            </a>
        {% endwith %}
    {% endfor %}
    </div>
</div>
