{% extends "dashboard/cards/base_card.html" %}
{% load bl_icons %}
{% block card_body_class %}p-0{% endblock %}
{% block card_content %}
    <div class="list-group list-group-flush">
        <div class="p-2 list-group-item empty">
            <a href="#!" data-modal-url="{% url 'shipment-new' %}" class="d-flex flex-row align-items-center">
                <div class="box-status">
                    {% show_icon icon='ti ti-sm ti-plus' %}
                </div>
                <div class="px-3 overflow-ellipsis flex-grow-1 align-self-center">
                    <h5 class="p-0 m-0 text-condensed">Click here to start a new shipment!</h5>
                    <small class="overflow-ellipsis">Follow the steps to enter sample information</small>
                </div>
            </a>
        </div>
        {% for shipment in shipments %}
            {% include "lims/details/shipment-list-item.html" %}
        {% endfor %}
    </div>
{% endblock %}
