<div class="card mb-4">
    <div class="card-header p-1 text-center text-wide text-muted"><small>SHIPMENTS</small></div>
    <div class="list-group list-group-flush">
        {% for shipment in shipments %}
            {% include "lims/details/shipment-list-item.html" %}
        {% endfor %}
        <div class="p-2 list-group-item empty">
            <a href="#!" data-form-link="{% url 'shipment-new' %}" class="d-flex flex-row">
                <div class="box-status">
                    <div class="text-center text-muted">
                        <div title="Create a Shipment" class="ti ti-md ti-plus"></div>
                        <div><small>Start Now</small></div>
                    </div>
                </div>
                <div class="pl-3 overflow-ellipsis flex-grow-1 align-self-center">
                    <h4 class="p-0 m-0 text-condensed">Click here to start a new shipment!</h4>
                    <span class="overflow-ellipsis">Follow the steps to enter your sample information</span>
                </div>
            </a>
        </div>
    </div>
</div>
