{% extends "dashboard/cards/base_card.html" %}
{% load bl_guides %}
{% load bl_icons %}
{% load markup %}
{% load static %}

{% block card_class %}text-bg-cat-7{% endblock %}
{% block card_body_class %}p-0{% endblock %}
{% block card_content %}
        <div class="accordion accordion-flush" id="guide-items">
          {% for guide in guides %}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed overflow-ellipsis" type="button" data-bs-toggle="collapse" data-bs-target="#guide-item-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseThree">
                <span class="text-condensed">{{ guide.title }}</span>
              </button>
            </h2>
            <div id="guide-item-{{ forloop.counter }}"  class="accordion-collapse collapse" data-bs-parent="#guide-items">
              <div class="accordion-body bg-body">
                {% if guide.url or guide.attachment %}
                    {% if guide.has_image %}
                        <a href="#!" data-modal-url="{% guide_link guide %}">
                            <div>
                                <img src="{{ guide.attachment.url}}" width="100%" />
                                <h5><strong>{{ guide.title }}</strong></h5>
                            </div>
                            <div class="text-condensed guide-snippet">
                                {{ guide.description | markdown }}
                            </div>
                        </a>
                    {% elif guide.has_video or guide.get_kind_display == guide.TYPE.video %}
                        <a href="#!" data-modal-url="{% guide_link guide %}">
                            <div>
                                <img src="{% static 'lims/img/video-embed.png' %}" width="100%" />
                                <h5>{{ guide.title }}</h5>
                            </div>
                            <div class="guide-text-condensed guide-snippet">
                                {{ guide.description | markdown }}
                            </div>
                        </a>
                    {% elif guide.get_kind_display == guide.TYPE.image %}
                        <a href="#!" data-modal-url="{% guide_link guide %}">
                            <div>
                                <img src="{% static 'lims/img/image-embed.png' %}" width="100%" />
                                <h5>{{ guide.title }}</h5>
                            </div>
                            <div class="text-condensed guide-snippet">
                                {{ guide.description | markdown }}
                            </div>
                        </a>
                    {% elif guide.modal %}
                        <h5 class="text-condensed"><strong>{{ guide.title }}</strong></h5>
                        <a href="#!" data-modal-url="{% guide_link guide %}">
                            <div class="text-condensed guide-snippet">
                                {{ guide.description | markdown }}
                            </div>
                        </a>
                    {% elif guide.url %}
                        <h5 class="text-condensed"><strong>{{ guide.title }}</strong></h5>
                        <a href="{% guide_link guide %}" target="_blank">
                            <div class="text-condensed guide-snippet">
                                {{ guide.description | markdown }}
                            </div>
                        </a>
                    {% else %}
                        <h5 class="text-condensed"><strong>{{ guide.title }}</strong></h5>
                        <div class="text-condensed guide-snippet">
                            {{ guide.description | markdown }}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="text-condensed guide-snippet">
                        {{ guide.description | markdown }}
                    </div>
                {% endif %}
                {% if request.user.is_superuser or guide.has_document %}
                <div class="tools-box w-100 gap-3">
                    {% if guide.has_document %}
                        <a href="{{ guide.attachment.url }}" title="Download" download class="me-auto">
                            {% show_icon icon='edit' size='sm' %}
                        </a>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <a href="#!" data-modal-url="{% url 'guide-edit' guide.pk %}" title="Edit" class="ms-auto"
                           style="padding-left: 0; padding-right: 0;">
                            {% show_icon icon='edit' size='sm' %}
                        </a>
                        <a href="#!" data-modal-url="{% url 'guide-delete' guide.pk %}" title="Delete">
                            {% show_icon icon='delete' size='sm' %}
                        </a>
                    {% endif %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
{% endblock %}



