
:root, [data-bs-theme=light] {
  --midnight-violet: #2b061eff;
  --yale-blue: #16425bff;
  --honeydew: #e0f2e9ff;
  --pumpkin-spice: #ff8c42ff;
  --grey-olive: #858786ff;
  --midnight-violet-rgb: 43, 6, 30;
  --yale-blue-rgb: 22, 66, 91;
  --honeydew-rgb: 224, 242, 233;
  --pumpkin-spice-rgb: 255, 140, 66;
  --grey-olive-rgb: 133, 135, 134;

  --bs-primary: var(--midnight-violet);
  --bs-primary-rgb: var(--midnight-violet-rgb);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-focus-ring-width: 0.25rem;
  --bs-body-font-size: 11pt;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bl-shaded-bg: rgba(255, 255, 255, 0.05);
  --bs-link-color: var(--grey-olive);
  --bs-link-color-rgb: var(--grey-olive-rgb);
}

.modal-header {
  min-height: 4rem;
  padding: 0.5rem 1rem;
  background-color: var(--bs-tertiary-bg, inherit);
  --bs-text-opacity: 0.7;
  color: var(--bs-tertiary-color, inherit);

  .btn-close {
    color: var(--bs-tertiary-color, inherit);
  }

  .modal-subtitle {
    line-height: .9;
    opacity: 0.7;
  }
}

.card {
  --bs-card-border-color: transparent;
  --bs-card-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
}

.list-group-item {
  --bs-list-group-bg: transparent;
}

.accordion {
  --bs-accordion-bg: transparent;
}

@for $i from 1 through 5 {
  $value: $i * 100;

  .fixed-height-#{$value} {
    height: unquote("#{$value}px");
  }
}