{% extends "lims/base.html" %}
{% load static %}
{% load bl_guides %}
{% load bl_icons %}
{% load dashboard_tags %}

{% block extra_css %}
    <style>
        {% for kind in access_types %}
            .{{kind.name}} {
              position: relative;
            }
            .{{kind.name}}:before {
              content: "";
              height: 100%;
              width: 7px;
              background-color: {{kind.color}};
              position: absolute;
              left: 0;
              top: 0;
            }
        {% endfor %}
    </style>
{% endblock %}

{% block pre_js %}
    <script src="{% static 'd3/js/d3.min.js' %}"></script>
    <script src="{% static 'd3/js/d3-selection-multi.v1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lims/js/basiclive-layouts.min.js' %}"></script>
{% endblock %}

{% block page-pre-title %}Staff{% endblock %}
{% block page-title %}
    <h3 class="text-condensed"> <span class="text-muted"><strong>{{ user.username|upper }}</strong></h3>
{% endblock %}

{% block page-tools %}
    {% if USE_ACL %}
        <a href="{% url 'access-list' %}">
            {% show_icon label="Access" icon="connections" size='md' %}
        </a>
    {% endif %}
    {% if USE_SCHEDULE %}
        <a href="{% url 'schedule' %}">
            {% show_icon label="Schedule" icon="calendar" size='md' %}
        </a>
    {% endif %}
    {% if USE_PUBLICATIONS %}
        <a href="{% url 'pub-entry-list' %}">
            {% show_icon label="Publications" icon="journal" size='md' %}
        </a>
    {% endif %}
    {% if USE_CRM %}
        <a href="{% url 'supportrecord-list' %}" title="User Support">
            {% show_icon label="Support" icon="support" size='md' %}
        </a>
    {% endif %}
    {% if USE_NOTEBOOKS %}
        <a href="{% url 'notebooks:notebook-list' %}" title="Electronic Notebooks">
            {% show_icon label="Notebooks" icon="notebook" size='md' %}
        </a>
    {% endif %}
    <div class="separator"></div>
    <a href="{% url 'user-list' %}">
        {% show_icon label="Accounts" icon="profile" size='md' %}
    </a>
{% endblock %}

{% block page-status-style %}callout{% endblock %}
{% block page-status-bar %}
    <div>
        <span class="text-muted text-condensed hidden-xs">Start here to manage beamlines, shipments, load containers
            on a beamline, view data, and more.
        </span>
    </div>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            {% for card in left_cards %}
                {% render_card card %}
            {% endfor %}
        </div>
        <div class="col-12 col-sm-6">
            {% for card in center_cards %}
                {% render_card card %}
            {% endfor %}
        </div>
        <div class="col-12 col-md-3">
            {% for card in right_cards %}
                {% render_card card %}
            {% endfor %}
        </div>
    </div>

    {% if full_cards %}
    <div class="row mt-3">
        <div class="col-12">
            {% for card in full_cards %}
                {% render_card card %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
