{% load static %}
{% load settings %}

<!doctype html>
<html lang="en" class="{% block html_class %}{% endblock %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block page_title %}{{ APP_NAME }}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'lims/img/favicon.svg' %}" />

    <!-- Styles -->
    {% block site_css %}
        <link rel="stylesheet" href="{% static 'themify-icons/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'misc/css/noty.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'misc/css/slimselect.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'lims/css/basiclive.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/mxlive.min.css' %}" type="text/css">
    {% endblock %}
    {% block extra_css %}{% endblock %}
    <script src="{% static 'lims/js/theme-switcher.min.js' %}"></script>
    <script src="{% static 'jquery/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'misc/js/noty.min.js' %}"></script>
    <script src="{% static 'misc/js/underscore-min.js' %}"></script>
    <script src="{% static 'jquery/js/jquery.cookie.min.js' %}"></script>
    <script src="{% static 'jquery/js/jquery.form.min.js' %}"></script>
    <script src="{% static 'crisp_modals/modals.min.js' %}"></script>
    {% block pre_js %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
    <!-- User Profile Menu -->
    {% if user.is_authenticated %}
        {% include "lims/navs.html" %}
    {% endif %}
    <main role="main" class="content">
        <div class="container-fluid h-100 p-0">
        {% block full %}
            {% block content %}
            <div class="page {% block page-classes %}p-4{% endblock %}">
                {% if maintenance %}
                <div class="alert alert-warning">
                  <strong>Warning!</strong> {{ APP_NAME }} is currently undergoing maintenance activities. Some features may not be available
                    and performance may be impacted. This message will be removed when full functionality is restored. Sorry for the
                    temporary inconvenience.
                </div>
                {% endif %}
                {% block page-no-header %}
                    <div class="page-header">
                        <div class="d-flex flex-row align-items-center">
                            <div class="mb-2" style="min-width: 0;">
                                <div class="page-pre-title">{% block page-pre-title %}{% endblock %}</div>
                                <h3 class="page-title mb-0">{% block page-title %}{% endblock %}</h3>
                                <div class="page-subtitle d-none d-md-block">
                                    {% block page-subtitle %}{% endblock %}</div>
                            </div>
                            <div class="page-tools col-auto ms-auto d-flex flex-row-reverse mb-2 align-items-center">
                                {% block page-tools %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="page-status rounded-0 d-flex flex-row justify-content-between align-items-stretch {% block page-status-style %}border-top{% endblock %}"
                    >{% block page-status-bar %}{% endblock %}</div>
                {% endblock %}
                {% block page-content %}{% endblock %}
            </div>
            {% endblock %}
        {% endblock %}
        </div>
    </main>
{% endblock %}

{% if user.is_authenticated %}
    <footer class="bl-footer bg-body-tertiary">
        <div class="container-fluid p-5 text-body-secondary">
            <div class="row">
                <div class="col-lg-3 small"><a
                        class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/"
                        aria-label="{{ APP_NAME }}">
                    <span class="fs-5">{{ APP_NAME }}</span> </a>
                    <ul class="list-unstyled small">
                        <li class="mb-2">
                            Based on the <a href="https://github.com/michel4j/basic-live/">BasicLIVE</a>.
                            Designed and built at the <a href="https://www.lightsource.ca">Canadian Light Source </a>.
                        </li>
                        <li class="mb-2">
                            Code licensed <a href="https://github.com/michel4j/mxlive/blob/main/LICENSE" target="_blank"
                                             rel="license noopener">MIT</a>, docs <a
                                href="https://creativecommons.org/licenses/by/3.0/" target="_blank"
                                rel="license noopener">CC BY 3.0</a>.
                        </li>
                        <li class="mb-2">Current Version: {{ APP_VERSION }}</li>
                    </ul>
                </div>
                <div class="col col-lg-2 offset-lg-1 small"><h6>Links</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="/">Home</a></li>
                        <li class="mb-2"><a href="/docs/">Docs</a></li>
                        <li class="mb-2"><a href="https://github.com/michel4j/mxlive/issues">Issues</a></li>
                    </ul>
                </div>
                <div class="col col-lg-2 small"><h6>Guides</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="/docs/5.3/getting-started">Managing Shipments</a></li>
                        <li class="mb-2"><a href="/docs/5.3/examples/starter-template">Adding Samples</a></li>
                        <li class="mb-2"><a href="/docs/5.3/getting-started/webpack">Experiment Requests</a></li>
                    </ul>
                </div>
                <div class="col col-lg-2 small"><h6>Related Projects</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="https://github.com/michel4j/basic-live" target="_blank" rel="noopener">BasicLIVE</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://github.com/michel4j/django-crisp-modals" target="_blank" rel="noopener">Crisp Modals</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://github.com/michel4j/django-itemlist" target="_blank" rel="noopener">Item List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endif %}

{% include "lims/messages.html" %}
<div id="modal-target"></div>
{% block post_js %}{% endblock %}
<script src="{% static 'misc/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'misc/js/slimselect.min.js' %}"></script>

{% block extra_js %}{% endblock %}
<script>
    $(document).ready(function () {
        // enable tooltips
        $("[title]").not("[data-bs-toggle]").tooltip({
            container: 'body',
            viewport: {selector: 'body', padding: 5}
            //placement: 'auto'
        });

        // Enable tooltips
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });

        // Enable popovers
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        popoverTriggerList.forEach(function (popoverTriggerEl) {
            new bootstrap.Popover(popoverTriggerEl);
        });

        // Remove modal content after it is hidden
        document.querySelectorAll('.modal').forEach(function (modal) {
            modal.addEventListener('hidden.bs.modal', function () {
                modal.remove();
            });
        });

        // show attention popovers
        $(".attention").popover('show');

        // Monitor Progress
        monitorProgress();

        // enable multiselects
            $(document).find('select[multiple].selectmultiple').each(function () {
                $(this).removeClass('form-select').addClass('form-select-multiple');
                new SlimSelect({
                    select: this
                })
            });

        // Initialize crisp_modals
        $('#modal-target').initModal({
            setup: function (body) {
                $('#modal-target').find('select[multiple]').each(function () {
                    $(this).removeClass('form-select').addClass('form-select-multiple');
                    new SlimSelect({
                        select: this
                    })
                });

                // tooltips in modal
                const tooltipTriggerList = [].slice.call(document.querySelectorAll('#modal-target [data-bs-toggle="tooltip"]'));
                tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                    new bootstrap.Tooltip(tooltipTriggerEl);
                });
            }
        });

        // Handle data-modal-url, data-form-link and data-href
        $(document).on('click', '[data-href]', function () {
            window.document.location = $(this).data("href");
        });

    });
    </script>
</body>
</html>

